@import '~library/TestCases/src/styles/library';

:host {
    display: block;
    padding: 1rem;

    nav {
        position: -webkit-sticky;
        position: sticky;
        top: 50px;
        background-color: $orange;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;

            li {
                list-style: none;
                margin: 0;
                padding: 1rem;
                color: $font-color-invert;

                &.active {
                    color: $orange;
                    background-color: white;
                }
            }
        }
    }

    .template {
        @include display-grid;
        @include grid-template-columns(320px 1fr);
        @include grid-template-rows(auto);

        &>app-inner-test {
            @include grid-column(1, 2);
        }

        &>div {
            @include grid-column(2, 3);
        }
    }

    .template {
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 320px 1fr;

        &>app-inner-test {
            grid-template: sidebar;
        }

        &>div {
            grid-template: main;
        }
    }

    section {
        height: 1000px;

        >h2 {
            margin: 0;
        }

        &.section1 {
            background-color: #003366;
            color: $font-color-invert;
        }

        &.section2 {
            background-color: #336699;
            color: $font-color-invert;
        }

        &.section3 {
            background-color: #6699CC;
            color: $font-color-invert;
        }

        &.section4 {
            background-color: #99CCFF;
        }
    }
}
