@import '~library/TestCases/src/styles/library';

:host {
    display: block;
    padding: 1rem;

    nav {
        background-color: $orange;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;

            li {
                list-style: none;
                margin: 0;
                padding: 1rem;
                color: $font-color-invert;

                &.active {
                    color: $orange;
                    background-color: white;
                }
            }
        }
    }

    #overview,
    #overview2 {
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
    }

    section {
        width: 100vw;
        height: 80px;
        flex-shrink: 0;

        &.section1 {
            background-color: #003366;
        }

        &.section2 {
            background-color: #336699;
        }

        &.section3 {
            background-color: #6699CC;
        }

        &.section4 {
            background-color: #99CCFF;
        }
    }
}
